* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Rubik";
  background-color: #0f1424;
}

main {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.before, .background .table-wrapper .time-table .work::before, .background .table-wrapper .time-table .play::before, .background .table-wrapper .time-table .study::before, .background .table-wrapper .time-table .exercise::before, .background .table-wrapper .time-table .social::before, .background .table-wrapper .time-table .self-care::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right 20px top -11px;
}

.background {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .table-wrapper {
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  gap: 30px;
}

@media (max-width: 1150px) {
  .background .table-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 50px 0;
  }
}

@media (max-width: 750px) {
  .background .table-wrapper {
    margin: 50px 0;
  }
}

.background .table-wrapper .profile {
  background-color: #1c1f4a;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
}

.background .table-wrapper .profile .profile-info {
  background-color: #5847eb;
  padding: 15% 10%;
  border-radius: 15px;
}

@media (max-width: 1150px) {
  .background .table-wrapper .profile .profile-info {
    padding: 4% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.background .table-wrapper .profile .profile-info p {
  color: #bdc1ff;
  margin: 4% 0;
}

.background .table-wrapper .profile .profile-info h1 {
  font-weight: 300;
  margin-top: 0;
}

@media (max-width: 1150px) {
  .background .table-wrapper .profile .profile-info h1 {
    font-size: 1.5rem;
  }
}

.background .table-wrapper .profile .profile-info img {
  max-width: 70px;
  height: auto;
  padding: 2px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 1150px) {
  .background .table-wrapper .profile .profile-info img {
    height: 70px;
    margin-right: 5%;
  }
}

.background .table-wrapper .profile .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10% 12%;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #6f76c8;
  font-size: 18px;
}

@media (max-width: 1150px) {
  .background .table-wrapper .profile .actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4% 4%;
  }
}

@media (max-width: 750px) {
  .background .table-wrapper .profile .actions {
    font-size: 16px;
  }
}

.background .table-wrapper .profile .actions div {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.background .table-wrapper .profile .actions div:active, .background .table-wrapper .profile .actions div:hover {
  color: white;
  cursor: pointer;
}

.background .table-wrapper .profile .actions .active {
  color: white;
}

.background .table-wrapper .time-table {
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 750px) {
  .background .table-wrapper .time-table {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.background .table-wrapper .time-table section {
  border-radius: 15px;
  padding-top: 40px;
  position: relative;
}

@media (max-width: 750px) {
  .background .table-wrapper .time-table section {
    height: 170px;
  }
}

.background .table-wrapper .time-table section .section-content {
  border-radius: 15px;
  margin-top: 1px;
  padding: 5% 7% 10%;
  height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #1c1f4a;
}

.background .table-wrapper .time-table section .section-content:hover {
  background-color: #333770;
}

@media (max-width: 750px) {
  .background .table-wrapper .time-table section .section-content {
    padding: 1% 5% 7%;
  }
}

.background .table-wrapper .time-table section .section-content h1 {
  font-size: 50px;
  font-weight: 300;
  margin: 0 0 5px;
}

@media (max-width: 750px) {
  .background .table-wrapper .time-table section .section-content h1 {
    font-size: 35px;
  }
}

@media (max-width: 750px) {
  .background .table-wrapper .time-table section .section-content .footer {
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.background .table-wrapper .time-table section .section-content footer {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  color: #bdc1ff;
}

.background .table-wrapper .time-table section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .table-wrapper .time-table section header img {
  height: 5px;
  margin: 0;
}

.background .table-wrapper .time-table section header h3 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
}

.background .table-wrapper .time-table .work {
  background-color: #ff8c66;
}

.background .table-wrapper .time-table .work::before {
  background-image: url("./images/icon-work.svg");
}

.background .table-wrapper .time-table .play {
  background-color: #56c2e6;
}

.background .table-wrapper .time-table .play::before {
  background-image: url("./images/icon-play.svg");
}

.background .table-wrapper .time-table .study {
  background-color: #ff5c7c;
}

.background .table-wrapper .time-table .study::before {
  background-image: url("./images/icon-study.svg");
}

.background .table-wrapper .time-table .exercise {
  background-color: #4acf81;
}

.background .table-wrapper .time-table .exercise::before {
  background-image: url("./images/icon-exercise.svg");
  background-position: right 20px top -2px;
}

.background .table-wrapper .time-table .social {
  background-color: #7536d3;
}

.background .table-wrapper .time-table .social::before {
  background-position: right 20px top -4px;
  background-image: url("./images/icon-social.svg");
}

.background .table-wrapper .time-table .self-care {
  background-color: #f1c65b;
}

.background .table-wrapper .time-table .self-care::before {
  background-image: url("./images/icon-self-care.svg");
}
/*# sourceMappingURL=style.css.map */